{% include "ecommerce/messages.html" %}

<h1>{{ product.title }}</h1>
<p><strong>Precio:</strong> ${{ product.price }}</p>

{% if product.description %}
<p><strong>Descripción:</strong> {{ product.description }}</p>
{% endif %}

{% if product.seller %}
<p><strong>Vendedor:</strong> {{ product.seller }}</p>
{% endif %}

{% if product.color %}
<p><strong>Color:</strong> {{ product.color }}</p>
{% endif %}

{% if product.product_dimensions %}
<p><strong>Dimensiones:</strong> {{ product.product_dimensions }}</p>
{% endif %}
